
#practice-container {
  font-family: 'Open Sans', "Arial", sans-serif;
  width: 80%;
  margin-left:auto;
  margin-right: auto;
  text-align:center;
  margin-top:150px;
}

#instructions {
  height:50px;
}

#practice-container h1 {
  font-size: 50px;
}

#practice-container p {
  margin-top:70px;
  margin-bottom:40px;
}

#practice-container button {
  margin-top:20px;
  border: 1px solid #111;
  font-size:35px;
  padding: 11px 50px;
  background-color: #fff;
}

#practice-container button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.makeHidden {
  opacity: 0;
  /*-webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;*/
}

/*@keyframes fadeIn {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}*/
